html
    head
        title= "Dashboard"
        style
            include style.less
    body

        if errors
            ul(class= 'error-list')
                each error in errors
                    li(class= 'error-item')= error
        else
            if metro
                div(class= 'top-container')
                    ul(class= 'journey-list')
                        each item in metro
                            if (item.JourneyDirection == 1)
                                li(class= item.status)
                                    p(class= 'journey-time')= item.DisplayTime
                                    p(class= 'journey-destination')= item.Destination

            if weather
                div(class= 'middle-container')
                    div(class= 'weather-container col-6')
                        p(class= 'weather-city')= weather.name
                        p(class= 'weather-degrees')= weather.main.temp + '°C'
                        each condition in weather.weather
                            span(class= 'weather-condition')= condition.main + ' (' + condition.description + ')'
                            if condition.iconUrl
                                div(class= 'weather-condition-icon')
                                    img(src= condition.iconUrl)
                    div(class= 'date-container middle-child')
                        p(class= 'date-time')= date.time
                        p(class= 'date-date')= date.date

            if metro
                div(class= 'bottom-container')
                    ul(class= 'journey-list')
                        each item in metro
                            if (item.JourneyDirection == 2)
                                li(class= item.status)
                                    p(class= 'journey-time')= item.DisplayTime
                                    p(class= 'journey-destination')= item.Destination